<div class="wrapper">
  <div class="container nice">
    <div class="section-space bg-light">
      <h3>
        contests
      </h3>
      <div class="table-responsive">
        <table class="table table-striped">
          <thead>
          <tr>
            <th>Date</th>
            <th>Title</th>
            <th>Time</th>
            <th>Location</th>
          </tr>
          </thead>
          <tbody class="menu-list">
          <tr class="menu-item">
            <th>
              <div class="schedule-date"> May 25 - June 27</div>
            </th>
            <td>
              <div class="schedule-title">
                <a href="">Online Registration</a>
              </div>
            </td>
            <td>
              <div class="schedule-time">
                <i class="fa fa-clock-o" aria-hidden="true"></i>24 Hour</div>
            </td>
            <td>
              <div class="schedule-time">
                <i class="fa fa-map-marker" aria-hidden="true"></i>Online</div>
            </td>
          </tr>
          </tbody>
        </table>
      </div>

    </div>
  </div>

</div>

