<div class="wrapper">
  <div class="container nice">
    <div class="section-space bg-light">
      <h3>
        contests
      </h3>
      <div class="table-responsive">
        <table class="table table-striped">
          <thead>
          <tr>
            <th>Id</th>
            <th>Title</th>
            <th>Time</th>
            <th>Location</th>
          </tr>
          </thead>
          <tbody class="menu-list">
          <tr *ngFor="let c of contests" class="menu-item">
            <th>
              <div class="schedule-date"> <a [routerLink]="['/contest',c.id]" >{{c.id}}</a></div>
            </th>
            <td>
              <div class="schedule-title">
                <a [routerLink]="['/contest',c.id]" >{{c.name}}</a>
              </div>
            </td>
            <td>
              <div class="schedule-time">
                <i class="fa fa-clock-o" aria-hidden="true"></i>{{c.startTime|date :'short'}}</div>
            </td>
            <td>
              <div class="schedule-time">
                <i class="fa fa-map-marker" aria-hidden="true"></i>Online</div>
            </td>
          </tr>
          </tbody>
        </table>
        <ngb-pagination  [collectionSize]="totalPage" [(page)]="pagenumber"  [pageSize]="5" (pageChange)="loadPage(pagenumber)" aria-label="Default pagination" class="pagination-primary"></ngb-pagination>
      </div>

    </div>
  </div>

</div>

