<div *ngIf="isLoading | async" class="loader-container loader-overlay">
    <div class="loader">
        <span class="box"></span>
        <span class="box"></span>
        <div class="code">
            <img src="http://www.sclance.com/pngs/code-png/code_png_296644.png" width="120px">
        </div>
        <span class="txt">LOADING CODE...</span>
    </div>
    <div class="lds-spinner"><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div></div>

    <h3>Tritron Loading</h3>

    <div class="max">Boost</div>
    <div class="max">
        <span>  your programming skill.</span>
    </div>

    <p>Tritron</p>


</div>
