<tr class="menu-item">
  <th>
    <div class="schedule-date"> May 25 - June 27</div>
  </th>
  <td>
    <div class="schedule-title">
      <a href="">Online Registration</a>
    </div>
  </td>
  <td>
    <div class="schedule-time">
      <i class="fa fa-clock-o" aria-hidden="true"></i>24 Hour</div>
  </td>
  <td>
    <div class="schedule-time">
      <i class="fa fa-map-marker" aria-hidden="true"></i>Online</div>
  </td>
</tr>
<!--<tr class="menu-item">
  <th>
    <div class="schedule-date"> June 13 - June 27</div>
  </th>
  <td>
    <div class="schedule-title">
      <a href="">Payment</a>
    </div>
  </td>
  <td>
    <div class="schedule-time">
      <i class="fa fa-clock-o" aria-hidden="true"></i>10:00 AM - 05:30PM</div>
  </td>
  <td>
    <div class="schedule-time">
      <i class="fa fa-map-marker" aria-hidden="true"></i>Ground Floor, CSE Building </div>
  </td>
</tr>
<tr class="menu-item">
  <th>
    <div class="schedule-date"> July 24 </div>
  </th>
  <td>
    <div class="schedule-title">
      <a href="">Mock Contest</a>
    </div>
  </td>
  <td>
    <div class="schedule-time">
      <i class="fa fa-clock-o" aria-hidden="true"></i>08:00 PM</div>
  </td>
  <td>
    <div class="schedule-time">
      <i class="fa fa-map-marker" aria-hidden="true"></i>Online</div>
  </td>
</tr>
<tr class="menu-item">
  <th>
    <div class="schedule-date"> July 26 </div>
  </th>
  <td>
    <div class="schedule-title">
      <a href="">Main Contest</a>
    </div>
  </td>
  <td>
    <div class="schedule-time">
      <i class="fa fa-clock-o" aria-hidden="true"></i>9:00 AM - 01:00 PM</div>
  </td>
  <td>
    <div class="schedule-time">
      <i class="fa fa-map-marker" aria-hidden="true"></i>CSE Lab, Main Campus</div>
  </td>
</tr>-->



