

.box{
  position: absolute;
  height: 150px !important;
  width: 50% !important;
  overflow-y: scroll;
}
.nav-tabs-wrapper{
  padding: 80px;
}
.container{
  height: 300px;
}
label{
  float: left !important;
}
