<button class="btn btn-primary" (click)="open(classic,'' , '')">
 {{ButtonName}}
</button>
<ng-template #classic let-c="close" let-d="dismiss">
    <div class="modal-header justify-content-center">
        <button type="button" class="close" (click)="d('Cross click')">
            <i class="now-ui-icons ui-1_simple-remove"></i>
        </button>
        <h4 class="title title-up">{{Title}}</h4>
    </div>
    <div class="modal-body">
        <blockquote >
            <p class="blockquote blockquote-primary">{{message}}</p></blockquote>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-danger" (click)="c('Close click')">Close</button>
    </div>
</ng-template>

<!--<button class="btn btn-warning" (click)="open(modal_mini, 'modal_mini', 'sm')">
   Launch Modal Mini
</button>
<ng-template #modal_mini let-c="close" let-d="dismiss">
  <div class="modal-header justify-content-center">
      <div class="modal-profile">
          <i class="now-ui-icons users_circle-08"></i>
      </div>
  </div>
  <div class="modal-body">
      <p>Always have an access to your profile</p>
  </div>
  <div class="modal-footer">
      <button type="button" class="btn btn-link btn-neutral">Back</button>
      <button type="button" class="btn btn-link btn-neutral" (click)="c('Close click')">Close</button>
  </div>
</ng-template>-->
