<div class="wrapper nice">
    <div class="section section-tabs">
        <div class="container">
            <div class="row">
                <div class="col-md-10 ml-auto col-xl-12 mr-auto">
                    <p class="category">{{model.problemName}}</p>
                    <!-- Nav tabs -->

                    <div class="card">

                        <ngb-accordion #acc="ngbAccordion" activeIds="ngb-panel-0">
                            <ngb-panel title="{{model.problemName}}">
                                <ng-template ngbPanelContent>
                                    <div [innerHTML]="model.problemDescription | keepHtml:'html'">

                                    </div>
                                </ng-template>
                            </ngb-panel>
                            //vs,vs-dark,hc-black
                            <ngb-panel title="click to unfold Submission Panel" [disabled]="false">
                                <ng-template ngbPanelContent>
                                    <td-code-editor style="height: 500px" theme="vs-dark" flex language="cpp">

                                    </td-code-editor>
                                </ng-template>
                            </ngb-panel>
                        </ngb-accordion>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
